.moviedb-list table {
   width: 100%;
}
.moviedb-list th {
  /*width: 40%;*/
  padding: 0.5em 0em 0.5em 1em;
}
.moviedb-list tr td {
  padding: 1em 0em 1em 1em;
}
.moviedb-list tr.dark, .moviedb-list tr.dark td  {
  background-color: #f6f6f6;
}
.moviedb-list tr.light, .moviedb-list tr.light td {
  background-color: #ffffff;
}
.moviedb .label1 {
  font-weight: bold;
  font-size: larger;
  padding-top: 5px;
}
.moviedb .label2 {
  font-weight: bold;
  font-size: small;
  float: left;
  padding-right: 5px;
  line-height: 150%;
}
.moviedb .label3 {
  font-weight: bold;
  font-size: smaller;
  float: left;
  padding-right: 5px;
}
.moviedb .label4 {
  font-weight: bold;
  font-size: small;
  float: left;
  padding-right: 5px;
}
.moviedb .content1 {
  font-weight: normal;
  font-size: larger;
}
.moviedb .content2 {
  font-weight: normal;
  font-size: small;
  line-height: 150%;
}
.moviedb .content3 {
  font-weight: normal;
  font-size: smaller;
}
.moviedb .cover {
  padding: 0.5em 1em 0em 0em;
}
#moviedb-form input, #moviedb-form textarea {
  /*width: 40em;*/
}
#moviedb-form .form-checkbox {
  width: auto;
}
#mr_links input {
  /*width: 18em;*/
  margin: 0em 1em 0em 0em;
}
/* Note: you can remove this line below if you want.
   This classes are defined to prevent textboxes larger than the screen */
#edit-title, #edit-nodewords, .attachments fieldset{
  /*width: 40em;*/
}